<body>
  <div class="wrapper">
    <div class="aheader">
      <div class="home"><a routerLink="">HOME</a></div>
      <div class="about"><a routerLink="about">ABOUT</a></div>
      <div class="music"><a routerLink="music">MUSIC</a></div>
      <div class="video"><a routerLink="video">VIDEO</a></div>
      <div class="gigs"><a routerLink="gigs">GIGS</a></div>
      <div class="contact"><a routerLink="contact">CONTACT</a></div>
      <div class="social">
        <a href="#"><img src="../../assets/facebookLogo.png" alt=""></a>
        <a href="#"><img src="../../assets/twitterLogo.png" alt=""></a>
        <a href="#"><img src="../../assets/youTubeLogo.png" alt=""></a>
        <a href="#"><img src="../../assets/instagramLogo.png" alt=""></a>
      </div>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
      <div class="menu">
        <ul>
          <a routerLink=""><li>HOME</li></a>
          <a routerLink="about"><li>ABOUT</li></a>
          <a routerLink="music"><li>MUSIC</li></a>
          <a routerLink="video"><li>VIDEO</li></a>
          <a routerLink="gigs"><li>GIGS</li></a>
          <a routerLink="contact"><li>CONTACTS</li></a>
        </ul>
      </div>
    </div>
    <div class="title">
      <img class="imageResize" src="../../assets/Logo.png" alt="">
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</body>
