<body>
  <div class="wrapper">
    <div class="header">
      <div class="home"><a routerLink="">HOME</a></div>
      <div class="about"><a routerLink="about">ABOUT</a></div>
      <div class="music"><a routerLink="music">MUSIC</a></div>
      <div class="video"><a routerLink="video">VIDEO</a></div>
      <div class="gigs"><a routerLink="gigs">GIGS</a></div>
      <div class="contact"><a routerLink="contact">CONTACT</a></div>
      <div class="social">
        <img style="width: 20px;" src="../../assets/fbIcon.jpg" alt="">
        <img style="width: 20px;" src="../../assets/twIcon.jpg" alt="">
      </div>
    </div>
    <div class="title">
      <img class="imageResize" src="../../assets/Logo.png" alt="">
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</body>
