<div class="wrapper">
  <div class="media">
    <div class="Audio">
      <img style="width: 100%" src="../../assets/theCode.jpg" alt="">
      <audio style="width: 100%" controls>
        <source src="../../assets/W&W Feat. Ummet Ozcan - The Code (Original Mix).mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="Audio">
      <img style="width: 100%" src="../../assets/takeOver.jpg" alt="">
      <audio style="width: 100%" controls>
        <source src="../../assets/Afrojack ft. Eva Simons - Take Over Control (Official Radio Mix).mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>
