<div class="wrapper">
  <div class="mainContent">
    <div class="events">
      <h1>Events</h1>
      <div class="eventItem" *ngFor="let event of events">
         <h4>{{event.events}}</h4>
         <h5>{{event.location}} {{event.city}}, {{event.state}}</h5>
         <h5>{{event.date | date: 'fullDate' }}</h5>
         <h5>{{event.date | date: 'jm' }}</h5>
      </div>
    </div>
    <div class="media">
      <h1>Media</h1>
      <div class="videos">
        <div class="Video">
          <iframe class="videoSize" src="https://www.youtube.com/embed/2V3CHAyuDiY"></iframe>
        </div>
        <div class="Video">
          <iframe class="videoSize" src="https://www.youtube.com/embed/r6kyhivVZyY"></iframe>
        </div>
        <div class="Video">
          <iframe class="videoSize" src="https://www.youtube.com/embed/jKDZWh2lBAM"></iframe>
        </div>
        <div class="Video">
          <iframe class="videoSize" src="https://www.youtube.com/embed/zGEWqBm_-iw"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
