<div class="wrapper">
  <div class="contact">
    <div class="form">
      <h1>CONTACT:</h1>
      <form action="index.html" method="post">
        <input type="text" name="" placeholder="Name" value="">
        <input type="text" name="" placeholder="Email" value="">
        <input type="text" name="" placeholder="Subject" value="">
        <input id="message" type="text" name="" placeholder="Message" value="">
        <input class="form-control" type="submit" name="" value="SEND">
      </form>
    </div>
    <div class="info">
      <div class="data1">
        <h1>MANAGEMENT</h1>
        <p>Karen Blanche <br> info@mysite.com, 123-456-7890</p>
      </div>
      <div class="data1">
        <h1>PRESS</h1>
        <p>That Girl Pr, Sarah Brookstone <br> info@mysite.com, 123-456-7890</p>
      </div>
      <div class="data2">
        <h1>BOOKING</h1>
        <p>The Bookerz, Daniel Ku <br> info@mysite.com, 123-456-7890</p>
      </div>
    </div>
  </div>
</div>
