.wrapper{
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "... contact contact contact contact contact contact contact ...";
  margin: -15px, 0px, -10px, 0px;
  min-height: 1200px;
}
.contact{
  grid-area: contact;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "... form form form form form form form ..."
    "... info info info info info info info ...";
}
.form{
  grid-area: form;
}

.form-control {
  display: block;
  width: 20%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input{
  width: 100%;
  padding: 10px 0px 10px 5px;
  margin: 1%;
}
#message{
  padding-bottom: 150px;
}
#send{

}
.info{
  margin-top: 50px;
  grid-area: info;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "data1 data2";
  text-align: center;
}
.data1{
  grid-area: data1;
}
.data2{
  grid-area: data2;
}
